<ul>
  {{#each model as |article|}}
  {{#if (eq article.category "sports")}}
    <li>{{#link-to 'full-article' article.id}}{{article.title}}{{/link-to}} by: {{article.author}}</li>
  {{/if}}
  {{/each}}
</ul>
